# © Broadcom. All Rights Reserved.
# The term “Broadcom” refers to Broadcom Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-2-Clause

/*
    DESCRIPTION:
    Red Hat Enterprise Linux 9 build variables.
    Packer Plugin for VMware vSphere: 'vsphere-iso' builder.
*/

// Guest Operating System Metadata
vm_guest_os_name     = "rhel"
vm_guest_os_version  = "9.4"

// Virtual Machine Guest Operating System Setting
vm_guest_os_type      = "rhel9_64Guest"

// Virtual Machine Hardware Settings
vm_firmware              = "efi-secure"

// Removable Media Settings
iso_datastore_path       = "iso/linux/rhel"
iso_content_library_item = "rhel-9.4-x86_64-dvd"
iso_file                 = "rhel-9.4-x86_64-dvd.iso"

// Additional GPG keys for rpm (mandatory if you add additional yum repositories)
// rpm_gpg_keys = [
//   "/etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release"
// ]

// Additional yum repositories (mandatory if you disable rhsm)
// yum_repositories = [
//   {
//     "name": "baseos",
//     "url": "http://url/path/to/repo",
//     "install": true
//   },
//   {
//     "name": "appstream",
//     "url": "http://url/path/to/repo",
//     "install": true
//   }
// ]
